footer {
    text-align: center;
    background-image: $bg-gd-primary;
    color: $white;
    margin-top: auto;

    .nav {
        &-link {
            color: $white;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .list-inline {
        &-item {
            a {
                color: $white;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .footer {
        &-copyright {
            background-color: rgba(black, .1);
            padding: 1rem 0;
        }
    }
}