.list-contact {
    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        margin-bottom: 1.25rem;

        .icon {
            background-image: $bg-gd-primary;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            margin-right: 1.25rem;
        }
    }
}